* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*end of css reset*/

* {
    background-color: powderblue;
    display: inline-block;
}

h1 {
    color: crimson;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    margin: 30px;
    border: 3px solid blue;
    border-radius: 30px;
}

h2 {
    font-size: 50px;
    color: rgba(173, 181, 255, 0.582);
    transition: 0.5s ease;
    padding: 50px;
    font-family: Arial, sans-serif;
}

.bemutatkozás {
    color: springgreen;
}

ul {
    list-style-type: circle;
    background:goldenrod;
    padding: 20px solid black;
    color: orangered;
}
